mlflow==3.4
scikit-learn
optbinning
pandas
openpyxl
numpy
matplotlib
scikit-learn-intelex; platform_machine == "x86_64"
shap
numpyencoder
#argparse
mkdocs~=1.5.3
mkdocs-material==9.5.18
mkdocs-material-extensions==1.3
mkdocstrings==0.25.1
mkdocstrings-python==1.10.3
rich
black
flake8
typer
streamlit
#tensorflow-addons
# ipykernel>=6.29
# jupyterlab>=4.1
aiweb-common @ git+https://github.com/UABPeriopAI/llm_utils.git@develop
joblib
pytest
pypandoc
python-magic
fastapi
python-docx
yellowbrick
seaborn
imbalanced-learn

